* {
  margin: 0;
  padding: 0;
}
:root {
  --primary: #3dbadb;
  --secondary: #2c7fdb;
  --bg: #adaa98;
  --bg2: #d4d3be;
  --highlight: #03c9fa;
  --highlight2: #1836db;
  --text: #000000;

  --tableBorder: 1px solid rgba(0, 0, 0, 0.418);
}

/* > GENERAL */
h1,
h2,
h3 {
  font-family: "Macondo";
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}

p {
  font-family: "Edu NSW ACT Foundation";
  font-weight: 700;
  padding: 0.2em 0.2em 0.5em 0.2em;
}

header,
nav,
footer,
div,
section,
a,
form {
  box-sizing: border-box;
  width: 100%;
}

section,
form {
  background-color: var(--bg);
  padding: 0.5em;
  box-sizing: border-box;
}
form{
  border-radius: 0.5em;
}

li {
  margin-left: 1.5em;
  padding: 0.25em;
}

iframe {
  width: 100%;
  height: auto;
  max-width: 600px;
  aspect-ratio: 3/2;
}

a {
  text-decoration: none;
  color: var(--text);
}

img {
  width: 100%;
  height: auto;
}

/* # FORM */
form {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  padding: 0.5em;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  border: 2px solid gray;
  margin: 0.5em;
  max-width: 500px;
}

legend {
  margin-left: 1em;
  padding: 0 0.5em;
  border: 2px solid gray;
  border-radius: 0.7em;
  background-color: white;
}
input:focus,
textarea:focus {
  border: none;
  outline: 2px solid var(--highlight);
}
textarea{
  padding:0.25em;
}
input {
  border: 1px solid black;
  min-height: 45px;
  max-width: 300px;
  border-radius: 1em 0.5em 0.5em 1em;
  padding-left: 0.5em;
}
input:required {
  border-left: 5px solid red;
}
input:required:valid {
  border-left: 5px solid green;
}

textarea {
  max-width: 300px;
}

label {
  display: grid;
  grid-template-columns: 30% 1fr;
  padding: 0.25em;
}
label span {
  margin: auto 0.5em;
}

.highlightBtn {
  background-color: var(--highlight);
  padding: 0.8em 0.5em;
  width: 50%;
  min-width: 100px;
  max-width: 200px;
  border-radius: 0.5em;
  border: none;
  box-shadow: inset 0 0 0.3em 0.2em white;
  margin: 0.5em auto;
  font-weight: bold;
  color: black;
}

button:hover,
.highlightBtn:hover {
  filter: brightness(90%);
}

/* > HEADER and FOOTER */
/* #Header */
header {
  background-color: var(--primary);

  color: var(--text);
  display: grid;
  grid-template-columns: 1fr 2fr 60px;
}
header img {
  margin: 1em;
}
#social{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin:0;
  padding:0;
}
#social a{
  max-width:55px;
}
#social img{
  width:50px;
  height:50px;
  border-radius: 0.5em;
  background-color: white;
  border:2px solid black;
  margin:auto;
  display:block;
  box-sizing: border-box;
  padding:0;
}

header h1 {
  font-size: 4em;
  margin: auto 0;
  padding: 0.25em 1em;
}
header img,
footer div img {
  width: 8em;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 3em;
  border: 5px solid black;
  padding: 0;
}


/* #Footer */
footer {
  background-color: var(--secondary);
  color: var(--text);
  display: grid;
  grid-template-columns: 60% 40%;
  text-align: center;
}
footer div {
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer img {
  display: block;
  margin: auto;
  height: 5em;
  width: auto;
}

/* > NAV */
nav {
  background-color: var(--secondary);
}
nav div {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  max-height: 1000px;
}
nav a {
  background-color: inherit;
  width: 100%;

  text-align: center;
  padding: 0.5em 0.25em;
}
nav a:hover {
  filter: brightness(90%);
}
nav button {
  display: none;
}
.active {
  filter: brightness(150%);
}

/* > HOME PAGE */
/* #BANNER */
.banner {
  background-image: linear-gradient(
    yellow,
    var(--highlight) 15%,
    var(--highlight) 85%,
    yellow
  );

  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.25em;
}
.banner button {
  width: 40px;
  border: none;
  aspect-ratio: 1/1;
  margin: auto;
  border-radius: 0.5em;
}
.banner p {
  margin: auto 0.25em;
}

/* #HERO */
section.hero {
  background-color: var(--bg);
  margin: auto;
  position: relative;
  overflow: hidden;
  padding: 0;
}
section.hero::before {
  content: "";
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(100deg, #0000 30%, #000 90%);
  transform: scaleX(0.1);
  transform-origin: 100%;
  animation: heroIn 0.5s forwards;
  z-index: 2;
}

#heroOverlay {
  position: absolute;
  right: 0;
  top: 20%;
  height: 80%;
  width: 40%;
  padding: 1em;
  transform: scaleX(0);
  transform-origin: 100%;
  animation: heroIn 0.5s forwards;
  z-index: 3;
  color: #d2d2d2;
}
#heroOverlay h2 {
  font-size: 4em;
}
@keyframes heroIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
#heroOverlay p {
  margin-left: 1%;
  font-size: 1.5em;
}
#heroOverlay .highlightBtn {
  position: absolute;
  right: 1em;
  bottom: 1em;
  width: 10em;
  color: black;
  text-align: center;
}

#heroImages {
  position: relative;
}
#heroImages img,
.off {
  transition: opacity 2s;
  opacity: 1;
  z-index: 1;
  display: block;
  margin: auto;
}
#heroImages img.off {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* # WEATHER */
.weather {
  margin: 5em 0;
  border: 0;
  background-color: var(--bg);
  display: grid;
  grid-template-columns: 1fr auto;
}
.weather h2 {
  grid-column: 1/3;
}

#currentWeather {
  background-image: linear-gradient(180deg, white, rgb(0, 140, 255));
  border-radius: 1em 0 0 01em;
  grid-column: 1/2;

  display: grid;
  grid-template-rows: auto minmax(150px, 1fr) auto;
  padding: 0.5em;
}
#currentWeather h3 {
  text-align: center;
  font-size: 2em;
}
#currentWeather p {
  text-align: left;
}

#current {
  margin: auto;
  grid-column: 1/2;
  grid-row: 2/3;
}
#current img {
  max-width: 200px;
  display: block;
  margin: auto;
}
#current p {
  text-align: center;
  font-size: 1.5em;
}

.weatherDetails {
  grid-row: 3/4;

  display: grid;
  grid-template-rows: auto 1fr 1fr;

  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 0.5em;
  height: 100%;
  min-height: 200px;
  color: #000000;
  padding: 0.25em;
  margin: auto;
}
.weatherDetails h4 {
  grid-column: 1/5;
}
.weatherDetails img {
  display: block;
  margin: auto;
}
.weatherDetails div {
  display: grid;
  grid-template-columns: 2.5em 1fr;
}
.weatherDetails p {
  margin: auto 0.2em;
}

/* #FORECAST */
#forecast {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background-color: rgb(0, 140, 255);
  position: relative;
  border-radius: 0 1em 1em 0;
  background-image: linear-gradient(white, rgb(0, 140, 255));
}
#forecast::before {
  content: "";
  left: -2px;
  top: 0;
  width: 4px;
  position: absolute;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgb(255, 255, 255),
    transparent
  );
}
#forecast div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 2/3;
}
#forecast img {
  width: 3em;
  height: auto;
}
#forecast h3 {
  grid-column: 1/6;
  padding: 0.5em;
}

/* # FEATUERD */
#featured {
  background-color: var(--bg2);
  margin: 3em 0;
  color: var(--text);
}
#featured h3 {
  border-bottom: 1px solid black;
}
#featured div {
  background-color: var(--bg);
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 1em auto;
  width: 60%;

  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr;
}

.featuredImages {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/3;
}
.featuredImages li {
  margin: 0.25em;

  background-color: var(--bg2);
  list-style-type: none;
  overflow: hidden;
  border-radius: 0.8em;
  padding: 0;
  color: var(--text);
}
.featuredImages img {
  margin: auto;
  display: block;
}
.featuredImages p {
  font-size: 1.2em;
  text-align: center;
  padding: 0.2em;
}

/* > RESERVATIONS */
#reservation {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
}
#reservation section {
  border-radius: 0.5em;
}
/* > RENTALS */
/* #table  */
table {
  border-collapse: collapse;
  overflow: hidden;
  background-color: var(--bg);
  min-height: 200px;
}

td {
  text-align: center;
  border-right: var(--tableBorder);
}
td:last-child {
  border-right: none;
}

tr {
  border-bottom: var(--tableBorder);
  background-color: rgba(0, 0, 0, 0.144);
}
tr#title {
  background-color: var(--primary);
}
tr#title td,
tr:last-child {
  border: none;
}
tr.head,
td.head {
  font-weight: bold;
}

#rentals h3 {
  position: absolute;
  font-size: 2.5em;
  padding: 0.2em;
  min-width: 150px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.521);
  z-index: 2;
  left: 0.5em;
  top: 0.5em;
}
#rentals h2 {
  padding: 0.5em;
}
#rentals .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 450px));
  gap: 0.5em;
  padding: 0.5em;
}
#rentals section {
  margin: 5em 0em;
  padding: 0;
  position: relative;
}
#rentals section:first-of-type {
  margin-top: 0.2em;
}

#rentals h3,
.bImage {
  border-radius: 0.5em;
}

.bImage {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 150px;
  z-index: 1;
  width: 100%;
  position: relative;
  display: block;
  border-radius: 0;
}
.bImage::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 50%, var(--bg));

  border-radius: 0.5em 0.5em 0 0;
}

.content h4 {
  font-size: 1.3em;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}
.content div {
  margin-top: 1em;
}

.rentalInfo {
  display: grid;
  grid-template-rows: 220px 1fr;
  border: none;
  background-color: var(--bg2);
  border-radius: 0.5em;
  overflow: hidden;
}
.rentalInfo img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 300px;
}

/* > CONTACT */

#contact {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0.5em;
  padding: 0.5em;
}
#contact section{
  border-radius: 0.5em;
}

#contact h2 {
  grid-column: 1/3;
  grid-row: 1/2;
}
#contact label {
  max-width: 500px;
}
#contact button {
  margin: 0.5em;
}

#maps {
  grid-column: 2/3;
  grid-row: 2/4;
}

.copyright {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid black;
}

/* > Thankyou */
#reservationInfo,
#options {
  background-color: var(--bg2);
  margin: 1em 0.5em;
  border-radius: 0.5em;
  width: unset;
}
#reservationInfo p {
  font-family: "Times New Roman", Times, serif;
}
#reservationInfo p,
#reservationInfo h3 {
  padding: 0.25rem 0.5rem;
}
#thanks h2 {
  padding: 0.25em;
}
#options {
  padding: 0.5em;
}
#options div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
  padding: 0.5em;
}
#options a {
  text-align: center;
  padding: 0.5em;
  background-color: var(--secondary);
  border-radius: 0.5em;
}

#attributions h2{
  padding:0.5em 0.5em 0;
}
#attributions section{
  margin:1em 0;
}

#imageAttributions{
  display:flex;
  flex-direction: column;
}
#imageAttributions div{
  margin:1em auto;
}

#attributions h4,
#attributions p,
#attributions a{
  font-family: 'Times New Roman', Times, serif;
  padding:0;
}

#imageAttributions a{
  text-decoration: underline;
  color:#072370;
  padding-left:0.5em;
}
#imageAttributions a:visited{
  color:#000511;
}

#imageAttributions img{
  max-width:300px;
  display:block;
  padding:0.5em;
}
@media screen and (max-width: 1270px) {
  #heroOverlay {
    top: 10%;
    width: 60%;
    height: 90%;
  }
  #featured div {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  #contact {
    display: flex;
    flex-direction: column;
  }
}
