@media screen and (min-width: 730px) {
  header{
    grid-template-columns: 1fr 6em 50% 6em 1fr;
    grid-template-rows: 1fr;
  }
  header h1{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  header img{
    grid-column:2/3;
  }
  header button{
    grid-column: 4/5;
  }

  main{
    display:grid;
    grid-template-columns: 60% 40%;
  }  
  .weather{
    grid-column:2/3;
    grid-row:3/5;
  }
  #weatherData{
    display:flex;
    flex-direction: column;
  }
  #weatherData .card{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  #weatherData .card img{
    grid-column:2/3;
    grid-row:1/5;
    width:70%;
  }
  .businessSpotlights{
    grid-row:3/5;
    grid-column:1/2;
    width:100%;
    box-sizing: border-box;
    grid-template-rows:2em;
  }
  .businessSpotlights img {
    width:80%;
  }
  footer {
    grid-template-columns: 1fr auto;
  }

  main.discover{
    grid-template-columns:40% 60%;
  }  
  main.discover>.container{
    grid-column:1/2;
  }
  main.discover>:first-child{
    display:flex;
    flex-direction: column;
  }
  #images{
    grid-column:2/3;
  }
  .currentEvents{
    grid-column:2/3;
    grid-row:5/6;
  }
  .communityInfo {
    grid-row:5/6;
  }

}

