@media screen and (min-width:700px) {
    main{
        display:grid;
        grid-template-columns: 1fr 45%;
        gap:0.5rem;
        max-width:clamp(600px, 1000px, 90%);
    }


    .heroBanner, .weather, .businessSpotlights, .communityInfo{
        box-sizing: border-box;
    }

    .heroBanner{
        grid-column:1/all;
    }
    .weather{
        grid-column:2/3;
        width:100%;
    }
    .businessSpotlights{
        grid-column:1/2;
        grid-row:3/5;
        width:100%;
    }
    .communityInfo{
        grid-column: 2/3;;
    }
    footer{
        display:grid;
        grid-template-columns: auto auto;
    }
    footer div:not(#about){
        display:flex;
        flex-direction: column;
    }
    #about{
        border:none;
    }
}