* {
  padding: 0;
  margin: 0;
}
:root {
  --primary: #3f7d20;
  --secondary: #454955;
  --accent1: #adff04;
  --neutral: white;
  --links: #fff4c2;
}

body {
  width: 80%;
  margin: auto;
}

header {
  background-color: var(--primary);
  color: var(--neutral);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

h1 {
  font-family: "Lemon", serif;
  font-weight: 50;
}

header img {
  border-radius: 10px;
  margin-right: 1em;
}

.ham,
nav {
  background-color: var(--secondary);
}
.ham {
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
  font-size: larger;
  padding: 0.5rem;
}
.ham::before {
  content: "☰";
}
.ham.open::before {
  content: "❎";
}

nav {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem;

  max-height: 0px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
nav.open {
  max-height: 200px;
}

nav a {
  color: var(--neutral);
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: inherit;
}
nav a:visited {
  color: var(--neutral);
}
nav a:hover {
  color: var(--accent1);
}
nav a.active {
  background-color: #006293;
}

nav a.active::before,
nav a.active::after {
  content: " 🌳 ";
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
}
main h2 {
  text-align: center;
  margin: 10px auto;
  border-bottom: 1px solid black;
  grid-column: 1/3;
}

.card {
  grid-template-columns: 1fr;
  border: 1px solid rgba(0, 0, 0, 0.384);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  min-height: 100px;
  margin: 0.5em;
}

.card h3 {
  background-color: var(--primary);
  color: var(--neutral);
}

ul {
  list-style: none;
}
li a {
  text-decoration: none;
}

footer {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer p {
  color: var(--neutral);
}

#map {
  margin: auto;
  display: block;
  width: 80%;
  padding-bottom: 0.5rem;
}

@media screen and (width<460px) {
  header {
    flex-direction: column;
  }
  body {
    width: 100%;
  }
}
@media screen and (width<500px) {
  body {
    width: 90%;
  }
}

#activities li {
  overflow: hidden;
  /* padding: 0.2em; */
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  margin: 0.3em auto;
}

.hero {
  width: 100%;
  grid-column: 1/3;
  position: relative;
}
.hero img {
  width: 100%;
}
.hero div {
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.268);
  padding: 0.8em 0.3rem;
  border-radius: 0.4em;
}
.hero p{
  white-space:nowrap;
}

iframe {
  border:0;
}

li{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
li a{
  padding:0.25em;
}
li a::before{
  content:"🔗";
}

li h4 {
 background-image: radial-gradient(
    circle,
    white,
    var(--accent1)
  );
  text-align: center;
}
#activities li p {
  text-align: center;
}

#weather{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#weather img {
  width:2.5em;
}