* {
  padding: 0;
  margin: 0;
}
:root {
  --primary: #3f7d20;
  --secondary: #454955;
  --accent1: #adff04;
  --neutral: white;
  --links: #fff4c2;
}

body {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

header {
  background-color: var(--primary);
  color: var(--neutral);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

h1 {
  font-family: "Lemon", serif;
  font-weight: 50;
}

header img {
  border-radius: 10px;
  margin-right: 1em;
}

.ham,
nav {
  background-color: var(--secondary);
}
.ham {
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
  font-size: larger;
  padding: 0.5rem;
}
.ham::before {
  content: "☰";
}
.ham.open::before {
  content: "❎";
}

nav {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem;

  max-height: 0px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
nav.open {
  max-height: 200px;
}

nav a {
  color: var(--neutral);
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: inherit;
}
nav a:visited {
  color: var(--neutral);
}
nav a:hover {
  color: var(--accent1);
}
nav a.active {
  background-color: #006293;
}

nav a.active::before,
nav a.active::after {
  content: " 🌳 ";
}

main {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}
main h2 {
  text-align: center;
  margin: 10px auto;
  border-bottom: 1px solid black;
  grid-column: 1/-1;
}

.card {
  grid-template-columns: 1fr;
  border: 1px solid rgba(0, 0, 0, 0.384);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  min-height: 100px;
  margin: 0.5em;
}

.card h3 {
  background-color: var(--primary);
  color: var(--neutral);
}

ul {
  list-style: none;
}
li a {
  text-decoration: none;
}

footer {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer p {
  color: var(--neutral);
}

#map {
  margin: auto;
  display: block;
  width:80%;
  padding-bottom: 0.5rem;
}

@media screen and (width<460px) {
  header {
    flex-direction: column;
  }
}


#activities li{
  padding:0.2em;
  border:1px solid black;
  border-radius:10px;
  width:90%;
  margin:0.2em auto ;
}