@media screen and (min-width: 600px) {
  nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    display:flex;
  }
  .ham{
    display:none;
  }
  main {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}
